node_modules/
.pnpm/
*.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*

dist/
out/          
.next/      
.swc/
*.tsbuildinfo
nohup.out

.env* 
!.env.example 
!landing/.env.test 

coverage/
test-results/

.lhci-reports/
.lighthouseci/
**/lighthouse.*/
*.report.{html,json}
**/C:/Users*/AppData/Local/lighthouse.*/
landing/C:\\Users*\\AppData\\Local\\lighthouse.*/

.vscode/
.idea/
.DS_Store
Thumbs.db
yarn-error.log*
certs/*.pem

projects/
wallets/
wallets/landing/coverage/
landing/.env.production

landing-prod.tgz
solanaflow-landing
build.log
