PORT=9999
JWT_SECRET=your_jwt_secret
ROOT_FOLDER=/absolute/path/to/projects
WALLETS_FOLDER=/absolute/path/to/wallets
DB_USER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=solanaflow
DB_PASSWORD=postgres
OPENAI_API_KEY=sk-xxxxxxx
BETA_CODE=YOUR_INVITE_CODE
API_KEY_ENCRYPTION_SECRET=32_BYTE_HEX_SECRET

