.env*
!.env.example

node_modules/
.next/
out/
dist/

coverage/
test-results/
.lhci-reports/
.lighthouseci/
**/lighthouse.*/

.vscode/
.idea/
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log*

certs/*.pem
